.App {
    width: 100%;
    margin: 0px auto;
    background-color: rgb(160, 160, 179);
    
  }
  
  .Footer {
    border-top: 1px solid #f9f7fe54;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    color: black;

  }

