.App {
  font-family: "Roboto", sans-serif;
  background: url("https://source.unsplash.com/bR_-gllg7Bs");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 800px;
  height: 500px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}


.Weather{
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-radius: 16px;
  background-color: rgba(218, 212, 212, 0.258); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.Footer a {
  color: rgb(255, 255, 255);
}

a:hover {
  color: #0066ff;
  font-weight: bold;
}
 
.search-form-input {
  background-color: #ecebef;
  border: none;
  border-radius: 6px;
  width: 30%;
  font-size: 16px;
  padding: 15px 20px;
  margin: 0 auto;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 800;
  font-size: 30px;
  margin: 20px 0 0 0;
  line-height: 29px;
  color: rgb(33, 33, 33);
  padding-top: 10px;
  padding-bottom: 10px;
}

.App ul {
  margin: 0;
  padding: 0;

}
.App li {
  font-size: 16px;
  font-weight: thin;
  line-height: 19px;
  list-style: none;
  color: rgb(33, 33, 33);
}


.Weather .temperature  {
  font-weight: bold;
  color: rgb(33, 33, 33);
  text-shadow:2px 2px 2px #b1b1b1;
  font-size: 50px;
  line-height: 60px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  color: rgb(33, 33, 33);
 
}


.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.Weather canvas {
  margin: 10px auto;
  
}

.Weather .unit {
  color: rgb(33, 33, 33);
  text-shadow:2px 2px 2px #b1b1b1;
  padding-left: 5px;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  top: -20px;

  
}

.weather-app-details {
  text-decoration: none;
  list-style: none;
  font-size: 8px;
  color: rgba(39, 33, 66, 0.862);
  line-height: 24px;
  font-weight: 500;
}


.App footer {

  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgb(230, 226, 226);
}
